* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 70px;
}

form {
    text-align: center;
    margin-top: 80px;
}

#number {
    padding: 10px;
    text-align: center;
    border: 3px solid #ffd166;
    background-color: #1389b2;
    border-radius: 5px;
}

#button {
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #ffd166;
    border: 3px solid #f0466f;
    border-radius: 5px;
}

#button:active {
    background-color: #f0466f;
    border-color: #ffd166;
}

.none {
    display: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    box-shadow: gray 0px 0px 10px;
}

.box-green {
    background-color: #0cd6a1;
}

.box-yellow {
    background-color: #ffd166;
}

.box-red {
    background-color: #f0466f;
}

.box-blue {
    background-color: #1389b2;
}